.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-m);
    padding: var(--padding-4xl) 0;
}

.cabecalho__subtitulo{
    color: var(--vermelho);
    font-weight: var(--semibold);
}

.cabecalho__titulo{
    font-size: var(--tamanho-xl);
    color: var(--preto);
    font-weight: var(--semibold);
}

.cabecalho__texto{
    font-size: var(--tamanho-m);
    font-weight: var(--regular);
    color: var(--cinza);
    width: 50%;
    text-align: center;
    line-height:  30px;
}