.nav{
    margin: 1.12rem 5rem;
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav__item{
    display: flex;
    gap: 2.5rem;
}

.nav__link{
    text-decoration: none;
    color: var(--cinza);
    font-weight:var(--medio);
}

.nav__acao{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: center;
}

.cadastro{
    background: var(--vermelho);
    color: var(--branco);
    border-radius: 0.5rem;
    padding: 10px 18px;
}

