.metricas{
    padding-bottom: 6rem;
    margin: 0 5rem; 
}

.metricas__lista{
    display: flex;
    gap: 2rem;
    padding: 0 2rem;
    justify-content: space-between;
    margin: 0 auto;
}

.metrica{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1
}

.metrica__numero{
    font-size: 3.75rem;
    font-weight: var(--semibold);
    color: var(--vermelho);
}

.metrica__titulo{
    font-size: 1.125rem;
    font-weight: var(--medio);
    color: var(--preto);
}

.metrica__texto{
    font-weight: var(--regular);
    color: var(--cinza);
    line-height: 1.5rem;
}