.metricas {
  padding-bottom: var(--padding-4xl);
  margin: 0 var(--margin-m);
}

.metricas__lista {
  display: flex;
  gap: var(--gap-l);
  padding: 0 var(--padding-xxl);
  justify-content: space-between;
  margin: 0 auto;
}

.metrica {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  flex: 1;
}

.metrica__numero {
  font-size: var(--tamanho-xxl);
  font-weight: var(--semibold);
  color: var(--vermelho);
}

.metrica__titulo {
  font-size: var(--tamanho-s);
  font-weight: var(--medio);
  color: var(--preto);
}

.metrica__texto {
  font-weight: var(--regular);
  color: var(--cinza);
  line-height: 1.5rem;
}
