.vagasabertas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xl);
    padding: var(--padding-3xl) 0;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-l);
    padding: 0 var(--padding-xxl);
    width: 60%;
}

.vagas__area {
    text-decoration: none;
    font-size: var(--tamanho-m);
    color: var(--preto);
    font-weight: var(--medio);
    align-self: flex-start;
}

.job {
    display: flex;
    flex-direction: column;
    gap:var(--gap-l);
    padding: var(--padding-l) var(--padding-l) var(--padding-xl) var(--padding-l);
    border: 1px solid var(--borda);
    border-radius: 1rem;
}

.job__titulo{
    text-decoration: none;
    color: var(--preto);
    font-size: var(--tamanho-s);
    font-weight: var(--medio);
}

.job__descricao{
    color: var(--cinza);
    font-weight: var(--medio);
    display: flex;
    align-items: center;
    gap: var(--gap-m);
}

.job__texto{
    color: var(--cinza);
    font-weight: var(--regular);
}

.espaco{
    line-height: 0;
}