@import url(./css/header.css);
@import url(./css/cabecalho.css);
@import url(./css/metricas.css);
@import url(./css/vagas.css);
@import url(./css/vagasabertas.css);
@import url(./css/depoimentos.css);


:root{

    /*cores*/
    --vermelho:#8E2424;
    --branco:#FFFFFF;
    --cinza:#667085;
    --preto:#101828;
    --borda:#EAECF0;

    --badge:rgba(142, 36, 36, 0.05);

    /*pesos fonte*/

    --medio:500;
    --semibold:600;
    --regular:400;


    /*tamanho fonte*/

    --tamanho-xs:0.875rem;
    --tamanho-s:1.125rem;
    --tamanho-m:1.25rem;
    --tamanho-l:2.25rem;
    --tamanho-xl:3rem;
    --tamanho-xxl:3.75rem;

    /*espaçamentos*/

    /*gap*/

    --gap-xs:0.75rem;
    --gap-s:1.25rem;
    --gap-m:1.5rem;
    --gap-l:2rem;
    --gap-xl:2.5rem;
    --gap-xxl:3rem;
    --gap-3xl:4rem;
  
    /*padding*/

    --padding-xs:0.625rem;
    --padding-s:1rem;
    --padding-m:1.125rem;
    --padding-l:1.5rem;
    --padding-xl:1.75rem;
    --padding-xxl:2rem;
    --padding-3xl:4rem;
    --padding-4xl:6rem;
  

    /*margin*/

    --margin-s:1.12rem;
    --margin-m:5rem;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "inter", sans-serif;
    font-size: 16px;
    background-color: var(--branco);
    width: 100%;
    height: 100vh;
}

