@import url(./css/header.css);
@import url(./css/cabecalho.css);
@import url(./css/metricas.css);
@import url(./css/vagas.css);

:root{

    /*cores*/
    --vermelho:#8E2424;
    --branco:#FFFFFF;
    --cinza:#667085;
    --preto:#101828;

    --badge:rgba(142, 36, 36, 0.05);

    /*pesos fonte*/
    --medio:500;
    --semibold:600;
    --regular:400;




}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "inter", sans-serif;
    font-size: 16px;
    background-color: var(--branco);
}